<div class="page-header"><h3> <%= @article.title %> </h3></div>
<p> <%=@article.content %> </p>
<p> <%=link_to raw("<span class='glyphicon glyphicon-save' aria-hidden='true'></span>"), exp_path(format: 'xlsx') %> </p>
<p> <%=link_to 'back to index', articles_path %> </p>
<hr>
<div id="form-comment">
  <%= render "form" %>
</div>
<h4>Here the comments</h4>
<div id="list-comments">
  <%= render "comments" %>
</div>
