<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Wgs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
        <%= flash[:notice] %>
        <%= flash[:error] %>
        <%= yield %> 
    </div><!--col-md-8 col-lg-8 col-xs-12 col-sm-12-->
    <div class="col-md-2 col-lg-2"></div>
  </div><!--row-->
</div><!--container-fluid-->
<%= javascript_include_tag 'application' %>
</body>
</html>
